lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.json
*.log

pids
logs
results

node_modules
npm-debug.log
sync.sublime-project
sync.sublime-workspace

config/magento_confs.js
config/sync_shops.js
downloads/