extends layout

block content
  h1 What you want to do with the categories?
  ul
    li
      a(href="/category/level/1", target="_top")
        | Retrieve one level of categories by website/store view/parent category
    li
      a(href="/category/tree/1", target="_top")
        | Retrieve hierarchical tree of categories.
    li
      a(href="/category/products/1", target="_top")
        | Retrieve list of assigned products.

  form.form-horizontal(target="_parent", name='filterForm')
    fileset
      form.form-horizontal(target="_parent", name='general')
          .control-group
            label.control-label Shop Version
            .controls
              select.span3
                each magento_conf, i in magento_confs
                  option(name="#{i}")!= magento_conf.name + " " + magento_conf.shop_version
    .form-actions
      .input-append
        input.span2(id="appendedInputButton", size="16", type="number", min="1", value="1")
        button.btn.btn-primary(type="button", onClick="javascript:CategoryLevelSubmitOnClick($('select option:selected').attr('name'), $('#appendedInputButton').val())") Retrieve level
        button.btn.btn-primary(type="button", onClick="javascript:CategoryTreeSubmitOnClick($('select option:selected').attr('name'), $('#appendedInputButton').val())") Retrieve tree
        button.btn.btn-primary(type="button", onClick="javascript:CategoryProductsSubmitOnClick($('select option:selected').attr('name'), $('#appendedInputButton').val())") Retrieve products