//extends content_with_menu

block container
  h1= title
  dl.dl-horizontal
        each attribute_name, i in attribute_names
          .span4
            dt #{attribute_name}
            each value, i in attribute_values[attribute_name]
              dd #{value}