// sublime: tab_size 2; translate_tabs_to_spaces true
extends layout

block content
  include alert-dev
  //Layout nach http://twitter.github.com/bootstrap/scaffolding.html#layouts
  .container-fluid
    .row-fluid
      .span2
        include menu
      .span10