extends layout

block content
  .page-header
    h1 Retrieve products list
  form.form-horizontal(target="_parent", name='general')
      .control-group
        label.control-label: | Shop Version
        .controls
          select.span3
            each magento_conf, i in magento_confs
              option(name="#{i}"): #{magento_conf.name} #{magento_conf.shop_version}
  .form-actions
    button.btn.btn-primary(type="button", onClick="javascript:productShopSubmitOnClick($('select option:selected').attr('name'))") List all products
  h2 By filter
  form.form-horizontal(target="_parent", name='filterForm')
    fileset
      .control-group
        label.control-label: | Choose simple filter
        .controls
          label.radio
            input(type='radio', name='FilterTyp', value='Name', id='#RadioName',  checked='')
            | Name
          label.radio
            input(type='radio', name='FilterTyp', value='Product', id='#RadioProduct')
            | Product ID
          label.radio
            input(type='radio', name='FilterTyp', value='SKU', id='#RadioSKU')
            | SKU
          label.radio
            input(type='radio', name='FilterTyp', value='Set', id='#RadioSet')
            | Set
          label.radio
            input(type='radio', name='FilterTyp', value='Type', id='#RadioType')
            | Type
          label.radio
            input(type='radio', name='FilterTyp', value='Category', id='#RadioCategory', disabled)
            span.muted Category ID
  .form-actions
    .input-append
      input.span2(id="appendedInputButton", size="16", type="text")
      button.btn.btn-success(type="button", placeholder="Value to filter", onClick="javascript:productFilterSubmitOnClick($('input:radio[name=FilterTyp]:checked').val(), $('select option:selected').attr('name') , $('#appendedInputButton').val())") Use!