// sublime: tab_size 2; translate_tabs_to_spaces true
extends content_with_menu

block container
  include loading
  script
    // load the content if the site is loaded
    $(document).ready(function () {
      loadProductInfo(null,null,0);
    });