extends layout

block content
  h1= title
  dl.dl-horizontal
    each atribute_name, i in atribute_names
      dt #{atribute_name}
      dd!= atribute_values[atribute_name]
        &nbsp
  each image, i in images
    img(src="#{image.url}")